<html>
  <head>
  
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>body
      {
        background-image: url("{{url_for('static',filename='images/bg.jpg')}}");
}   </style>
    </head>
    

 
  <body align="center">
    <div class="background">
      <div class="transbox">
        <H1><u>Traffic Sign Detection</u></H1>    
    <form name="prediction" action="/predict"  method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" onchange="loadFile(event)" name="image_file" id="image" required>
      <p><img id="output" width="200"/></p>
      <input  type="submit" value="Detect"/>
      </div>
    </div>
    
      <script>
      var loadFile=function(event) {
        var image = document.getElementById('output');
        image.src=URL.createObjectURL(event.target.files[0]);
      };
      </script>

      
    </form>
  </body>
</html>